# Archivos de compilación
*.o
*.exe
*.out

# Carpetas de construcción
build/
bin/

# Archivos generados por LaTeX
*.aux
*.log
*.toc
*.pdf

# Archivos del sistema
.DS_Store
Thumbs.db
main

echo 'output.huf
output.bits
short.huf
short_out.txt
decompressed.txt
input_demo.txt' >> .gitignore
